@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if(!Model.Any())
{
    <p>We don't have any customers</p>
}

<table>
    <thead>
        <tr>Customer List</tr>
    </thead>
    <tbody>
        @foreach(var cl in Model)
        {
            <tr>
                
                <td>@Html.ActionLink(cl.name, "Details", "Customer", new { id = cl.id }, null)</td>
            </tr>
        }
    </tbody>
</table>

