@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<Table class="table-bordered">
    <thead>
        <tr>Movie</tr>
        <tr>Genre</tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@Html.ActionLink(m.name,"Details","Movie",new {id = m.id },null)</td>
                <td>@m.genre.name</td>
            </tr>
        }
    </tbody>
    
</Table>

